body {
    padding: 0;
    margin: 0;
}

.game-mode,
.board-container,
.number-buttons {
    margin: 5px;
}

.game-mode button {
    margin-right: 5px;
}

.number-buttons button {
    margin-right: 5px;
}

.active-mode,
.active-number {
    background-color: lightblue;
}

.row {
    clear: both;
}

.col {
    width: 3em;
    height: 3em;
}

.col {
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    border: 1px solid black;
    margin: 1px;
}

.value {
    flex: auto;
    text-align: center;
    font-size: 200%;
}

.guess {
    flex: auto;
    text-align: center;
    font-size: 200%;
    color:blue;
    background-color: transparent;
}

div:has(> .guess) {
    background-color: azure;
}

.active-cell {
    background-color: lightyellow;
}